<div class="container">
    <div class="row justify-content-between">
          <div class="col-xs-6">

              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">Post a Budget</h5>
                      <p class="card-text"> Add a Budget to our growing database.</p>
                      <a routerLink="/post">Add Budget Info</a>

                  </div>
              </div> 
            
          </div>
          <div class="col-xs-6">

              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">Get Budget Info</h5>
                      <p class="card-text"> Request Budget Info From Our Database.</p>
                      <a routerLink="/get">Request Budget Info</a>

                  </div>
              </div> 
            
          </div>
    </div>
</div>
<router-outlet></router-outlet>