
<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex justify-content-center row">
<div class="card col-xs-6" style="width: 28rem;">
<form class="container-fluid mb-5" #budgetForm="ngForm" (ngSubmit)="onClick()" novalidate>

        <div class="form-group">
            <label hidden for="id">BudgetCodeId</label>
        <input hidden type="number" name="budgetCodeId" class="form-control" id="id" aria-describedby="addId"  placeholder="Add id" [(ngModel)] = "budgetModel.budgetCodeId" >
        </div>
        <div class="form-group">
            <label for="year">FiscalYear</label>
        <input type="number" #fiscalYear="ngModel" maxlength="4" pattern="\d{4}$" name="fiscalYear" [class.is-invalid]="fiscalYear.invalid && fiscalYear.touched" class="form-control" id="year" aria-describedby="addYear" placeholder="Add a year" [(ngModel)] = "budgetModel.fiscalYear" required>
            <div *ngIf="fiscalYear.errors && (fiscalYear.invalid || fiscalYear.touched)">
                <small class="text-danger" *ngIf="fiscalYear.errors.required" >FisicalYear is Required</small>
                <small class="text-danger" *ngIf="fiscalYear.errors.pattern">FisicalYear must be 4 digits</small>
            </div> 
        </div>
        <div class="form-group">
            <label for="code">BudgetCode</label>
        <input type="text" #budgetCode="ngModel" maxlength="10"  name="budgetCode" [class.is-invalid]="budgetCode.invalid && budgetCode.touched" class="form-control" id="code" aria-describedby="addCode"  placeholder="Add code" [(ngModel)] = "budgetModel.budgetCode" required>
       <!-- <small class="text-danger" [class.d-none]="BudgetCode.valid || BudgetCode.untouched" >BudgetCode is required and must be 10 digits</small> -->
       <div *ngIf="budgetCode.errors && (budgetCode.invalid || budgetCode.touched)">
            <small class="text-danger" *ngIf="budgetCode.errors.required">BudgetCode is required</small>
       </div>
        </div>
        <div class="form-group">
            <label for="title">BudgetTitle</label>
        <input type="text" #budgetTitle="ngModel" maxlength="100" name="budgetTitle" [class.is-invalid]="budgetTitle.invalid && budgetTitle.touched" class="form-control" id="title" aria-describedby="addTitle"  placeholder="Add a title" [(ngModel)] = "budgetModel.budgetTitle" required>
        <small class="text-danger" [class.d-none]="budgetTitle.valid || budgetTitle.untouched" >BudgetTitle is Required</small>
        </div>
        <button [disabled]="budgetForm.form.invalid" class="btn btn-primary" type="submit"> Submit</button>
      </form>
    </div>

  <!--div class="list">
        <ul>
         <li *ngFor="let item of budgetsList"  >
              {{item.budgetTitle}}
              {{item.fiscalYear}}
              {{item.budgetCode}}
             {{item.budgetCodeId}}
          </li>
        </ul>
      </div>-->
      <div class="col-xs-6">
           <h5 class="text-center"> {{msg}} </h5>
      <div *ngIf="ifSuccess"> 
        <table class = "table">
            <thead>
                <tr>
                    <th>budgetCodeId</th>
                    <th>fiscalYear</th>
                    <th>budgetCode</th>
                    <th>budgetTitle</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr>
                        <td>{{latest.budgetCodeId}}</td>
                        <td>{{latest.fiscalYear}}</td>
                        <td>{{latest.budgetCode}}</td>
                        <td>{{latest.budgetTitle}}</td>
                    </tr>    
                
            </tbody>
        </table>
      </div>
      </div>
    </div>
      <router-outlet></router-outlet>
      
      